body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.navbar ul {
    list-style: none;
    padding: 0;
}

.navbar li {
    display: inline;
    margin-right: 20px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

h1,
h2,
h3 {
    color: #333;
}

p,
ul,
table {
    margin-bottom: 20px;
    font-size: 1.1em;
    /* Увеличение размера шрифта для удобочитаемости */
}

.responsive-img {
    width: 80%;
    /* Уменьшение размера изображений */
    max-width: 1024px;
    /* Максимальная ширина */
    height: auto;
    margin: 10px 0;
    /* Отступы между изображениями */
}

.code-block {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}
